<h1>Listing Movie</h1>

<table>
  <thead>
    <tr>
      <th>image</th>
      <th>title</th>
      <th>overview</th>
    </tr>
  </thead>

  <tbody>
    <% @movie.each do |mov| %>
      <tr>
        <td><%= image_tag("#{@configuration.base_url}w154#{mov.poster_path}") if mov.poster_path %></td>
        <td><%= mov.title %></td>
        <td><%= mov.overview %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>